img {
    max-width: 150px;
    max-height: 100px;
}

.out-come img {
    border: 1px solid black; 
    margin: 5px; 
  }
  
.betting-place img {
  border: 1px solid black;
}

.betting-place {
  gap: 10px; 
}


